@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-image: linear-gradient(
    to bottom right,
    theme("colors.blue.100"),
    theme("colors.rose.300")
  );
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-end infinite;
  color: currentColor;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.btn-anim {
  animation: shopNowAnimation 1s ease-in 0.9s infinite forwards alternate;
}

@keyframes shopNowAnimation {
  from {
    transform: translateX(0);
    opacity: 0.5;
  }
  to {
    transform: translateX(5px);
    opacity: 1;
  }
  
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

